<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MatiasProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        a {
            font-family: 'Times New Roman', Times, serif
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Book/GetAll">MatiasProject</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/Gatunek/GetAll" class="nav-link">Gatunki</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Autor/GetAll" class="nav-link">Autorzy</a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item active">
                            <a href="/Wydawnictwo/GetAll" class="nav-link">Wydawnictwa</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a href="/Book/GetAll" class="nav-link">Książki</a>
                    </li>
                    @if (!string.IsNullOrEmpty(User.Identity.Name))
                    {
                        <li class="nav-item"><a class="nav-link" href="/UserAuthentication/ChangePassword">Zmień hasło</a></li>
                        <li class="nav-item"><a class="nav-link" href="/UserAuthentication/Logout">Wyloguj</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>